<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
        <%= render 'shared/stats' %>
      </section>
  </aside>
  
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
<%# 診断モードではコメントアウトを解除 %>
<%= javascript_tag do %>
    let cli = new Locked({
      clientKey: 'a03a89573a21976c43c98e3b8a81',
      signature: '<%= OpenSSL::HMAC.hexdigest('sha256', 'a03a89573a21976c43c98e3b8a81', '10073bcf6d232e86f74cfb42051df12c') %>'
    })
    cli.monitor({email: '<%= encrypt(@user.email, '10073bcf6d232e86f74cfb42051df12c') %>', userId: '<%= @user.id%>'})
<% end %>
<%# 診断モードではコメントアウトを解除 %>