<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>    
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
    <%# production %>
    <%# <script src="https://locked-cdn-prod.s3-ap-northeast-1.amazonaws.com/bundle.js?v=1"></script> %>
    <%# development %>
    <script src="https://locked-cdn-dev.s3.amazonaws.com/bundle.js"></script>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
  <script>
    // 秘匿モード
    let cli = new Locked({clientKey: '25256ae4475650c4fac4d5fe8782',signature: '<%= OpenSSL::HMAC.hexdigest('sha256', '25256ae4475650c4fac4d5fe8782', '318ab6c85800c0a214f3bb2e4cce5d6f') %>'})
    cli.monitor({email: 'kajirikajiri@gmail.com', userId: '12345678'})

    // 一行実装
    // let cli = new Locked({clientKey: '25256ae4475650c4fac4d5fe8782',signature: '<%= OpenSSL::HMAC.hexdigest('sha256', '25256ae4475650c4fac4d5fe8782', '318ab6c85800c0a214f3bb2e4cce5d6f') %>'})
    // cli.monitor({
    //   email: '<%= encrypt('kajirikajiri@gmail.com', '318ab6c85800c0a214f3bb2e4cce5d6f') %>',
    //   userId: '12345678'
    //   })
  </script>
</html>
